<ActionBar title="Color" icon="" class="action-bar">
</ActionBar>

<StackLayout>
  <Button
    text="Open Blue"
    [nsRouterLink]="['blue']"
    pageTransition="curl"
    class="btn blue">
  </Button>

  <Button
    text="Open Red"
    [nsRouterLink]="['red']"
    pageTransition="fade"
    class="btn red">
  </Button>

  <Button
    text="Open RGB (pink)"
    [nsRouterLink]="['rgb', '#ff0088']"
    pageTransition="flip"
    class="btn pink">
  </Button>

  <Button
    text="Open RGB (gray)"
    [nsRouterLink]="['rgb', 'gray']"
    pageTransition="flip"
    class="btn gray">
  </Button>

  <Button
    text="Open RGB (#bad)"
    [nsRouterLink]="['rgb', '#bad']"
    pageTransition="flip"
    class="btn bad">
  </Button>

</StackLayout>
